<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style> 
  .app-title {
    color: purple;
  }
  body {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  </style>
          
  
  <div class="app-page" data-page="home">
    <div class="app-topbar">
      <div class="app-title">IBE SARAH'S CV</div>
    </div>
    <div class="app-content">
      <div class="app-section">
        <div class="app-button" data-target="page2">Skills</div>
      </div>
      <div class="app-content">
        <div class="app-section">
          <div class="app-button brown" data-target="page3">Professional Summary</div>
        </div>
      </div>
      <div class="app-content">
        <div class="app-section">
          <div class="app-button" data-target="page4">Education</div>
        </div>
      </div>
      <div class="app-content">
        <div class="app-section">
          <div class="app-button" data-target="page5">Work History</div>
        </div>
      </div>
      <div class="app-content">
        <div class="app-section">
          <div class="app-button" data-target="page6">Accomplishments</div>
        </div>
      </div>
    </div>
    </div>
    <div class="app-page" data-page="page2">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Skills</div>
      </div>
      <div class="app-content">
    <h2>SKILLS</h2>
      <ul class="app-list"><li>Proficiency in programming languages like HTML, CSS and JavaScript </li>	
          <li>Proficiency in Graphic design</li>
          <li>Ability to use statistical software for data analysis</li>
          <li>Good critical thinking and creativity abilities</li>
          <li>Ability to identify emerging economic trends and issues</ul>
  
      </div>
    </div>
    <div class="app-page" data-page="page3">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Professional Summary</div>
      </div>
      <div class="app-content">
    <h2>PROFESSIONAL SUMMARY</h2>
          <div class= "one">Enthusiastic Web Developer eager to contribute to team success through hard work, 
         <br>attention to detail and excellent organizational skills.<br> Clear understanding of HTML,
         CSS and training in JavaScript and other programming languages.<br> Motivated to learn, 
          grow and excel in Web development.</div>
          
      </div>
    </div>
    <div class="app-page" data-page="page4">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Education</div>
      </div>
      <div class="app-content">
        <div class= "one"><h2>EDUCATION</h2>
        <ul class="app-list"><li>Economics - Bachelor of Science - 2020
        Nnamdi Azikiwe University - Awka, Anambra State.</li>
  
       <br><strong>First Class Honours</strong>
  
         <br><li>Commercial Arts - West African Senior School Certificate Examination - 2016
         Vetland Grammar School, Agege - Ojokoro, Lagos State.</li>
         <br><strong>Second Best Graduating Student.</strong></ul>
        </div>
      </div>
    </div>
    <div class="app-page" data-page="page5">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Work History</div>
      </div>
      <div class="app-content">
        <div class= "one"><h2>WORK HISTORY</h2>
  
        <ul class= "app-list"><strong>Graphic designer - December, 2021 to Present-
        SceptralHub - Awka, Anambra State.</strong>
  
        <br><li>Created visual concepts to communicate basic information of the business<br></li>
        <li>Participated in corporate learning and development programs to gain competencies and professional skills.</li></ul>
  
        <ul class="app-list"><strong>Computer Operator - August, 2013 to November, 2016.
        Premium Computer College - Lagos State.</strong>
        <li>Created reports and other documents using Microsoft Word</li>
        <li>Conducted basic analysis with Microsoft Excel</li>
        <li>Prepared presentation slides for business meetings
        Designed flyers and identity cards for clients</li></ul></div>
  
      </div>
    </div>
    <div class="app-page" data-page="page6">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Accomplishments</div>
      </div>
      <div class="app-content">
        <h2>ACCOMPLISHMENTS</h2>
  
  <ul class="app-list"><li>Completed basic projects on The Odin Project (TOP) using HTML, CSS, and JavaScript which were pushed to <a href="https://github.com/Ibe-Sarah">Github</a> </li>
  <li>Used SPSS and E-view to conduct basic data analysis.</li></ul>
  
      </div>
    </div>
    
  <router-outlet></router-outlet>
  